*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background-color:#333366;
}

header{
 background:white;
 padding:20px;
}

header>h1{
color:#000066;
text-align:center;
}

.choises{
margin:50px 0;
text-align: center;
}

.choise{
margin:0 20px;
padding:10px;
display:inline;
}



.result{
color:white;
text-align:center;
font-size:30px;
font-weight:bold;
}

.score-board{
margin:20px auto;
border:3px solid white;
text-align:center;
width:150px;
color:white;
font-size:46px;
padding:5px 10px;
}






